#CRWO{
    width: 100%;
    padding: 2%;
    text-align: center;
}

#CRWOimg{
    background: black;
}

#educationalPassages{
    width: 100%;
    padding: 2%;
    text-align: center;
}

#EPimg{
    
}

#dataFountain{
    width: 100%;
    padding: 2%;
    text-align: center;
}

#DFimg{
    
}